.navbar-base{
  display: flex;
  gap:32px;
  width: 100%;
  align-items: center;
  font-size: 1.25rem;
  background: linear-gradient(90deg,  #fed6e3 0%, #74a8a8 100%);
  color: #2c6e73;
  padding: 12px 30px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.navbar-base a {
  color: #2c6e73;
  text-decoration: none;
  margin-left: 25px;
}
.navbar-base a:hover {
  opacity: 0.8;
}

.navbar-items{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar-user-profile-button{
  background-color: #f1a39a00;
  color: #67251e;
  border: none;
  border-radius: 8px;
  font-size: 1.15rem;
}
.navbar-user-profile-button::after{
  display: none !important;
}

button:hover{
  color: #67251eb7;
}