<div class="login-form">
  <label for="userName" class="form-label">User name</label>
  <input [(ngModel)]="loginModel.userName" type="text" class="form-control custom-input" id="userName">

  <label for="password" class="form-label">Password</label>
  <input [(ngModel)]="loginModel.password" type="password" class="form-control custom-input" id="password">

  <button (click)="login()">Login</button>
  <a routerLink="/register" routerLinkActive="activer" class="register-link">Not registered yet?</a>
</div>