.media-files-table-data {
    background-color: rgba(0, 0, 0, 0.192); 
    color: #ffffff;
    padding: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 20px;
}

.media-files-table th {
    padding: 10px 15px; /* Відступи в заголовках */
    /*text-align: left; /* Вирівнювання тексту */
    border-bottom: 1px solid #d3d3d3; /* Світла межа знизу, як на зображенні */
    font-weight: bold; /* Жирний текст для заголовків */
    color: #b66961;
}


.media-files-table td {
    padding: 10px 15px; /* Відступи в комірках */
    /*border-bottom: 1px solid #e6e6e6; /* Тонка межа між рядками */
}


.media-files-tablet tr:last-child td {
    border-bottom: none;
}


.media-files-table td:last-child {
    text-align: center; /* Вирівнювання іконки по центру */
}


.media-files-table tr:hover {
    background-color: rgba(0, 0, 0, 0.05); /* Легке затемнення при наведенні */
}

.media-files-table-top{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}

.media-files-table-filters {
    display: flex;
    gap: 8px;
}

.media-files-table-filters-media-type{
    display: flex; 
    gap: 8px; 
    align-items: center;
}

.media-files-table-filters-search{
    display: flex; 
    gap: 8px; 
    color: #347b6c;
}

.media-files-table{
    display: flex;
    flex-direction: column;
    gap: 16px;
}




.images{
    height: 34px; 
    width: 34px;
}

.edit-button{
    height: 34px; 
    width: 34px;
    background-color: #a5333300;
    border: none;
}

.delete-button{
    max-width: 164px;
    background-color: #f1a39a00;
    color: #b0291a;
    border: none;
    border-radius: 8px;
    font-size: 20px;
}

.dropdown-item:focus, .dropdown-item:active {
    background-color: #e6bbed00 !important; /* синій фон для обраної опції */
    color: white !important; /* білий текст для контрасту */
  }
  
  .dropdown-item {
    background-color: transparent; /* фон за замовчуванням */
  }

