<div class="create-folder-form">
  <div class="create-folder-input">
    <div class="create-folder-input-header">
      <label for="folder-name">Folder name</label>
      <button class="btn btn-outline-danger btn-sm close-folder-form" (click)="hideFolder()">✕</button>
    </div>
    <input [(ngModel)]="folderModel.name" type="text" class="form-control" id="folder-name">
  </div>
  <div class="save-folder-form">
    <button class="btn btn-outline-secondary" (click)="createFolder()">Save</button>
  </div>
</div>

