.back-save-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}


.edit-media-form{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.edit-media-form-fields{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}