.user-files-view{
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.user-files-view-create{
    max-width: 164px;
    background-color: #f1a29a;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
}

.user-files-view-create:hover{
    background-color: #f8a6c2;
}

.button-row{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}