<div ngbDropdown class="d-inline-block">
  <button class="add-to-folder-button" id="folderList" ngbDropdownToggle>
      +
  </button>
  <div ngbDropdownMenu aria-labelledby="folderList">
      @for (folder of foldersList; track $index) {
          @if(isMefiaFileInFolder(folder)){
              <button ngbDropdownItem type="button" class="folder-button-to-remove" (click)="removeMediaFromFolder(folder.id)">{{folder.name}}</button>
            } @else{
              <button ngbDropdownItem type="button" class="folder-button-to-add" (click)="addMediaToFolder(folder.id)">{{folder.name}}</button>
          }      
      }
  </div>
</div>           
