/* You can add global styles to this file, and also import other style files */
html,body{
    height: 100%;
    bottom: 0;
    padding: 0;
    margin: 0;
}

span.ngb-highlight {
	background-color: rgb(65, 181, 154);
}


h1,h2,h3,h4,h5,h6,p,a,ul{
    margin: 0 !important;
} 