.folders-list{
    display: flex;
    flex-direction: column;
    gap: 8px
}

.create-folder-form{
    position: absolute;
    outline: 1px solid black;
    border-radius: 8px;
    background-color: #ebebeb;
    padding: 8px;
}